<h3><i class="fas fa-croissant"></i> Cornetto</h3>
<div class="section">
    <p class="lead"> Tiny Tumblr Clone. Im bored and this is mern too so</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn black darken-1">
        <i class="fab fa-google left"></i> Log in with Google
    </a>
</div>